#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1
Type=Application
Name=mati-setup
Comment=set up stuff once
Exec=sh -c "mati-setup"
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
Name[en_US]=mati-setup
